/* Colors*/
$darkturquoise: rgb(50,69,72);
$paleturquoise: rgb(51,153,153);
$lightturquoise: rgb(240,255,255);
$lilac: rgb(102,79,104);
$paper: rgb(255,247,212);

$white: rgb(255,255,255);

$success: rgb(0,139,93);
$info: rgb(102,79,104);
$warning: rgb(229,123,20);
$danger: rgb(216,67,30);