@import "colors.scss";

.login-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: $darkturquoise;
    text-align: center;
    z-index: 0;
}

.login-container-top {
    position: relative;
    width: 10%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    content: url("../img/base_logo_png.png");
}

.login-container {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 40%;
    height: 300px;
    background-color: $white;
    text-align: center;
    z-index: 3;
    border-radius: 3px;
    padding: 0.5%;
}

@media (max-width: 800px) {
    .login-container-top {
        display: none;
    }
    .login-container {
        position: relative;
        left: 0%;
        top: 10%;
        width: 80%;
        height: 300px;
        margin: 0 auto;
        background-color: $white;
        text-align: center;
        z-index: 1;
    }
}